{% extends 'base.html'%} <!--extends 우선순위가 가장 높음 -->

{% block contents %}
<body>
        <!--
        <form action="{% url 'blogpost' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{user.username}}">
            <div>
              <label for="title">제목</label><br>
              <input type="text" name="title" id="title">
            </div>
            <div>
              <label for="content">내용</label><br>
              <textarea name="content" id="content" cols="30" rows="10"></textarea>
            </div>
            <div>
                <label for="file">파일</label><br>
                <input type="file" accept="image/*" name="image">
            </div>
          <input  type="submit" value="제출하기">
        </form>
        -->

        <form action="{% url 'blogpost' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="username" value="{{user.username}}">
          <input type="hidden" name="nickname" value="{{user.profile.nickname}}">
            <div class="form-group">
              <label for="title">제목</label>
              <input type="text" class="form-control" id="title" name="title" placeholder="Input Title">
            </div>
            <div class="form-group">
              <label for="content">내용</label>
              <textarea name="content" class="form-control" id="content" rows="10" placeholder="Contents"></textarea>
            </div>
            <div class="form-group">
              <label for="file">Image Upload</label>
              <input type="file"  accept="image/*" name="image">
            </div>
            
            <button type="submit" class="btn btn-success">Submit</button>
        </form>

{% endblock %}