{% extends 'base.html'%}

{% block contents %}

<form action="/board/create" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="hidden" name="username" value="{{user.username}}">
  <input type="hidden" name="nickname" value="{{user.profile.nickname}}">
  <div>
    <label for="title">제목</label><br>
    <input type="text" name="title" id="title">
  </div>
  <div>
    <label for="content">내용</label><br>
    <textarea name="content" id="content" cols="30" rows="10"></textarea>
  </div>
  <div>
      <label for="file">파일</label><br>
      <input type = "file" value="파일 선택" name="image">
    </div>
  <input type="submit" value="글쓰기">
</form>

{% endblock %}