<!--templates/postedit.html -->
{% extends 'base.html'%}

{% block contents %}

<form action="/board/update/{{ post.id }}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div>
    <label for="title">제목</label><br>
    <input type="text" name="title" id="title" value="{{ post.title }}">
  </div>
  <div>
    <label for="file">파일</label><br>
    {% if blog.image %}
    <img src="{{blog.image.url}}" height=200>
    {% endif %}
    <input type="file" accept="image/*" name="image">
  </div>
  <div>
      <label for="content">내용</label><br>
    <textarea name="content" id="content" cols="30" rows="10">{{ post.content }}</textarea>
  </div>
  
  <input type="submit" value="수정하기">
</form>

{% endblock %}